
.flickr-set li {list-style:none;}

.flickr-set ul {margin: 0; padding: 0;}

.flickr-set {
font-family: arial; 
margin: 20px; 
background-color: #222; 
padding: 2px; color: #fff;
}

.flickr-set h2 {
color: #eee; 
position: absolute;
z-index: 10; 
margin: 45px 15px; 
font-size: 18px; 
text-shadow: 2px 2px 1px #000; 
width: 300px;
}

.flickr-set img {
float:left;
border: 3px solid #333; 
margin: 4px; opacity: .8;
}

.flickr-set img:hover {opacity:1;}

.flickr-set .set_image {display:block;}

.flickr-set .set_gallery {margin-top: 30px;}

.flickr-set button {
padding: 6px;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #4D4D4D 0%, #141414 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #4D4D4D 0%, #141414 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #4D4D4D 0%, #141414 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4D4D4D), color-stop(1, #141414));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #4D4D4D 0%, #141414 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #4D4D4D 0%, #141414 100%); 
color: #EBEBEB;
border-radius: 3px;
border: 2px solid #333;
}

.flickr-set button:hover {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #141414 0%, #4D4D4D 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #141414 0%, #4D4D4D 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #141414 0%, #4D4D4D 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #141414), color-stop(1, #4D4D4D));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #141414 0%, #4D4D4D 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #141414 0%, #4D4D4D 100%); 
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
